.dialog-pane {
    -fx-background-color: #fff8f8;
    -fx-border-color: #586995;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.dialog-pane .header-panel {
    -fx-background-color: #586995;
    -fx-padding: 10;
}

.dialog-pane .header-panel .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.dialog-pane .content {
    -fx-padding: 10;
    -fx-font-size: 14px;
    -fx-text-fill: #444;
}

.dialog-pane .button-bar .button {
    -fx-background-color: #586995;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.dialog-pane .button-bar .button:hover {
    -fx-background-color: #8491b8;
}
