@font-face {
    font-family: "Raleway Medium";
    src: url("fonts/Raleway-Medium.ttf");
}

@font-face {
    font-family: "Raleway Bold";
    src: url("fonts/Raleway-Bold.ttf");
}

.button {
    -fx-font-family: "Raleway Bold";
    -fx-font-weight: 700;
    -fx-font-size: 24px;
    -fx-background-color: #516089;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
    -fx-border-radius: 10px;
}

.button:hover {
    -fx-translate-y: -0.5px;
    -fx-background-color: #424f70;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-translate-y: 1px;
}

.combo-box .text {
    -fx-font-family: "Raleway Medium";
    -fx-font-weight: 500;
    -fx-font-size: 20px;
}