@font-face {
    font-family: "Raleway Medium";
    src: url("fonts/Raleway-Medium.ttf");
}

@font-face {
    font-family: "Raleway SemiBold";
    src: url("fonts/Raleway-SemiBold.ttf");
}

@font-face {
    font-family: "Raleway Bold";
    src: url("fonts/Raleway-Bold.ttf");
}

.mediumText {
    -fx-font-family: "Raleway Medium";
    -fx-font-weight: 500;
}

.boldText {
    -fx-font-family: "Raleway Bold";
    -fx-font-weight: 700;
}

/******************************************************** Body ********************************************************/
.btnLabel {
    -fx-font-family: "Raleway Medium";
    -fx-font-weight: 500;
    -fx-font-size: 18px;
}

.btnLabel:hover {
    -fx-font-family: "Raleway SemiBold";
    -fx-font-weight: 600;
    -fx-translate-y: -1px;
}

.btnLabel:pressed {
    -fx-translate-y: 1px;
}

.chart-bar.series0 {
    -fx-bar-fill: #42A5F5;; /* màu xanh cho Tổng số tiền */

}

.chart-bar.series1 {
    -fx-bar-fill: #66BB6A; /* màu cam cho Số tiền đã đóng */

}

.chart-plot-background {
    -fx-background-color: #fff;
}

.chart-legend {
    -fx-background-color: transparent;
    -fx-text-fill: #333333;
}

.axis-label {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}

.chart-title {
    -fx-text-fill: #2c3e50;
    -fx-font-size: 16px;
}

/******************************************************** Btn Footer ********************************************************/
.btnFooter {
    -fx-font-family: "Raleway SemiBold";
    -fx-font-weight: 600;
    -fx-font-size: 20px;
    -fx-background-color: #516089;
}

.btnFooter:hover {
    -fx-translate-y: -0.5px;
    -fx-background-color: #424f70;
}

.btnFooter:pressed {
    -fx-translate-y: 1px;
}

