@font-face {
    font-family: "Raleway Medium";
    src: url("fonts/Raleway-Medium.ttf");
}

@font-face {
    font-family: "Raleway SemiBold";
    src: url("fonts/Raleway-SemiBold.ttf");
}

@font-face {
    font-family: "Raleway Bold";
    src: url("fonts/Raleway-Bold.ttf");
}

.mediumText {
    -fx-font-family: "Raleway Medium";
    -fx-font-weight: 500;
}

.boldText {
    -fx-font-family: "Raleway Bold";
    -fx-font-weight: 700;
}

#buttonActive {
    -fx-background-color: #E9B880;
    -fx-text-fill: #424f70;
}

.btnHeader {
    -fx-font-family: "Raleway Bold";
    -fx-font-weight: 700;
    -fx-font-size: 20px;
    -fx-background-color: #586995;
    -fx-text-fill: #ffffff;
}

.btnHeader:hover {
    -fx-translate-y: -0.5px;
    -fx-text-fill: #424f70;
    -fx-background-color: #E9B880;
}

.btnHeader:pressed {
    -fx-translate-y: 1px;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.0, 0, 1);
}

.btnFooter {
    -fx-font-family: "Raleway Bold";
    -fx-font-weight: 700;
    -fx-font-size: 20px;
    -fx-background-color: #516089;
}

.btnFooter:hover {
    -fx-translate-y: -0.5px;
    -fx-background-color: #424f70;
}

.btnFooter:pressed {
    -fx-translate-y: 1px;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.0, 0, 1);
}