@font-face {
    font-family: "Raleway Bold";
    src: url("fonts/Raleway-Bold.ttf");
}

.boldText {
    -fx-font-family: "Raleway Bold";
    -fx-font-weight: 700;
}

/******************************************************** Btn Header ********************************************************/
#buttonActive {
    -fx-background-color: #E9B880;
    -fx-text-fill: #424f70;
}

.btnHeader {
    -fx-font-family: "Raleway Bold";
    -fx-font-weight: 700;
    -fx-font-size: 20px;
    -fx-background-color: #586995;
    -fx-text-fill: #ffffff;
}

.btnHeader:hover {
    -fx-translate-y: -0.5px;
    -fx-text-fill: #424f70;
    -fx-background-color: #E9B880;
}

.btnHeader:pressed {
    -fx-translate-y: 1px;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.0, 0, 1);
}

/* Do MenuButton không đổi màu chữ như Button bình thường*/
#btnHeaderMenu .label {
    -fx-text-fill: #ffffff;
}

#btnHeaderMenu .label:hover {
    -fx-text-fill: #424f70;
}

/* Ẩn phần chứa mũi tên */
#btnHeaderMenu > .arrow-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-shape: "";
    -fx-pref-width: 0;
    -fx-min-width: 0;
    -fx-max-width: 0;
}

/* Ẩn mũi tên */
#btnHeaderMenu > .arrow-button > .arrow {
    -fx-shape: "";
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-pref-width: 0;
    -fx-min-width: 0;
    -fx-max-width: 0;
}

/* Menu Context (pop up) đổ xuống */
.context-menu {
    -fx-background-color: #586995;
    -fx-background-radius: 0 0 15 15;
    -fx-padding: 10 6 6 6;
}

.menu-item {
    -fx-font-family: "Raleway Bold";
    -fx-font-weight: 700;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-padding: 16 7 0 16;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.menu-item:hover {
    -fx-background-radius: 10;
    -fx-background-color: #E9B880;
    -fx-text-fill: #424f70;
}

/************************************************************ Body ************************************************************/
.combo-box .text {
    -fx-cursor: hand;
    -fx-font-size: 18px;
}

.combo-box .list-view {
    -fx-background-color: #ffffff;
}

.combo-box .list-cell {
    -fx-cursor: hand;
    -fx-font-size: 18px;
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
}

.combo-box .list-cell:hover {
    -fx-background-color: #51608926;
    -fx-text-fill: #516089;
}

/**************************************** Scroll bar All (ComboBox, ScrollPane) ****************************************/
.scroll-bar {
    -fx-background-color: #ECEFF1;
    -fx-cursor: hand;
}

.scroll-bar .thumb {
    -fx-background-color: #516089;
}

.scroll-bar .track {
    -fx-background-color: #F5F5F5;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: #ECEFF1;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: #516089;
}

.combo-box .scroll-bar {
    -fx-pref-width: 12px;
}

.scroll-pane .scroll-bar {
    -fx-pref-width: 16px;
}

.scroll-pane .scroll-bar .track {
    -fx-background-color: #FFFFFF;
}